In [9]:
import pandas as pd
import requests
import urllib.parse

**Data Source**: [City of Chicago: Crimes 2001 to Present](https://data.cityofchicago.org/Public-Safety/Crimes-2001-to-Present/ijzp-q8t2/data)

## Filtering


To be more effecient with network resources, Chicago exposes an API endpoint which allows us to filter the data and only download the data that we want.  It apparently uses a backend query language called SoQL, which gives us the ability to use SQL like query language to filter the data how we want.

https://dev.socrata.com/foundry/data.cityofchicago.org/ijzp-q8t2

In [3]:
def build_query_str(query: dict) -> str:
    """Parses a dictionary of parameters to build a SODA query string"""
    out = ''
    if query:
        for k, v in query.items():
            out += f"${k}={v}"
    return out

In [13]:
"""
Example of a functioning api call

TODO: Clean up this code structure
"""

endpoint = 'https://data.cityofchicago.org/resource/ijzp-q8t2.json'
query = {
    'where': """
        date > '2019'
        """,
    # 'order ': 'id'
}
soda_query = build_query_str(query)
response = requests.get(''.join([endpoint,'?',soda_query]))
temp = pd.DataFrame(response.json())
temp.head(3)

,id,case_number,date,block,iucr,primary_type,description,location_description,arrest,domestic,...,ward,community_area,fbi_code,x_coordinate,y_coordinate,year,updated_on,latitude,longitude,location
0,11552605,JC100030,2019-01-01T00:01:00.000,004XX N MONTICELLO AVE,143A,WEAPONS VIOLATION,UNLAWFUL POSS OF HANDGUN,ALLEY,True,False,...,27,23,15,1151958,1902815,2019,2019-01-10T15:16:50.000,41.889196391,-87.717403722,"{'latitude': '41.889196391', 'longitude': '-87..."
1,11552645,JC100087,2019-01-01T00:01:00.000,028XX E 76TH ST,1310,CRIMINAL DAMAGE,TO PROPERTY,RESIDENCE,False,False,...,7,43,14,1196262,1855497,2019,2019-01-10T15:16:50.000,41.75836602,-87.556276032,"{'latitude': '41.75836602', 'longitude': '-87...."
2,11552869,JC100416,2019-01-01T00:01:00.000,001XX N CLARK ST,0820,THEFT,$500 AND UNDER,STREET,False,False,...,42,32,06,1175524,1900930,2019,2019-01-10T15:16:50.000,41.883527057,-87.630917053,"{'latitude': '41.883527057', 'longitude': '-87..."

In [8]:
urllib.parse.urlencode(query, )

'where=%0A++++++++date+%3E+%272019%27%0A++++++++'

In [5]:
''.join([endpoint,'?',soda_query]) #What does the string look like?

"https://data.cityofchicago.org/resource/ijzp-q8t2.json?$where=\n        date > '2019'\n        "

In [6]:
temp.columns.to_list()

['id',
 'case_number',
 'date',
 'block',
 'iucr',
 'primary_type',
 'description',
 'location_description',
 'arrest',
 'domestic',
 'beat',
 'district',
 'ward',
 'community_area',
 'fbi_code',
 'x_coordinate',
 'y_coordinate',
 'year',
 'updated_on',
 'latitude',
 'longitude',
 'location']

## Paging

<div markdown="1" 
    style= "
    box-sizing: border-box;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 15px;
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
    width: 55%;
    ">

**Heads Up!**  
The order of the results of a query are not implicitly ordered, so if you're paging, make sure you provide an [`$order` clause](https://dev.socrata.com/docs/queries/) or at a minimum `$order=:id`.  
That will guarantee that the order of your results will be stable as you page through the dataset.
</div>

As is the usual case with API acquire methods, we are going to need to loop through several pages.  To help me with that, I want to first define a function that gets a single page and returns the JSON.

## pivoting

I found a solution called sodapy that makes working with this api a lot easier.  However, even with an app token it takes significantly longer to download the data than it would to just download the csv file.

In [49]:
def get_records_delta(yyyy_mm_dd:str) ->object:
    from sodapy import Socrata
    try:
        from env import token
    except:
        token = None

    domain = "data.cityofchicago.org"
    resource = 'ijzp-q8t2'
    client = Socrata(domain, token)

    page_size = 100
    page = 1

    query = {
        'where': f"date > '{yyyy_mm_dd}'",
        'order': 'id',
    }

    # response = client.get(resource, limit=page_size, offset=(page*page_size), **query)
    response = client.get_all(resource, **query)
    return response

response = get_records_delta('2022-10-01')
temp = pd.DataFrame.from_records(response)
temp.shape

(7390, 22)

In [39]:
temp.head(3)

,id,case_number,date,block,iucr,primary_type,description,location_description,arrest,domestic,...,ward,community_area,fbi_code,x_coordinate,y_coordinate,year,updated_on,latitude,longitude,location
0,24482,JC221039,2019-04-11T20:34:00.000,079XX S PAULINA ST,0110,HOMICIDE,FIRST DEGREE MURDER,YARD,True,False,...,17,71,01A,1166391,1852082,2019,2022-09-18T16:45:51.000,41.749683042,-87.665847295,"{'latitude': '41.749683042', 'longitude': '-87..."
1,24483,JC214489,2019-04-10T17:40:00.000,004XX E 103RD ST,0110,HOMICIDE,FIRST DEGREE MURDER,STREET,False,False,...,9,49,01A,1181201,1836771,2019,2022-09-18T16:45:51.000,41.707339719,-87.612047712,"{'latitude': '41.707339719', 'longitude': '-87..."
2,24484,JC223059,2019-04-13T13:00:00.000,060XX S WESTERN AVE,0110,HOMICIDE,FIRST DEGREE MURDER,GAS STATION,False,False,...,16,66,01A,1161403,1864651,2019,2022-08-31T16:51:30.000,41.784278913,-87.683777679,"{'latitude': '41.784278913', 'longitude': '-87..."

In [52]:
response

In [53]:
temp.columns

Index(['id', 'case_number', 'date', 'block', 'iucr', 'primary_type',
       'description', 'location_description', 'arrest', 'domestic', 'beat',
       'district', 'ward', 'community_area', 'fbi_code', 'x_coordinate',
       'y_coordinate', 'year', 'updated_on', 'latitude', 'longitude',
       'location'],
      dtype='object')